[Unit]
Description=Graylog Server Lookup Helper Service
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=/opt/graylog/lookup-service

[Service]
User=gl_lookup_service
Group=gl_lookup_service
WorkingDirectory=/opt/graylog/lookup-service
Type=simple
Restart=always
ExecStart=/opt/graylog/lookup-service/service-wrapper.sh 8082 /opt/graylog/lookup-service/web2.log
ExecStartPre=/bin/sleep 60
RestartSec=5s

[Install]
WantedBy=multi-user.target